<div class='container'>
    <% content_for :navbar do %>
    <div id = "header">
        <%= render partial:"partials/navbar", locals:{array:[{'CATEGORIES' => '#'},{'  '=>''}], back:user_path(@user)}%>
        </div>
    <% end %>

<%= bootstrap_form_for(@expense_category, url: user_expense_categories_path(@user)) do |f| %>
<div>
  <div class="field">
    <%= f.text_field :name, autofocus: true, 
     autocomplete: "name", 
     skip_label: true, 
     placeholder: "Name" %>
  </div>
  <div class="field">
    <%=f.label :icon, "Choose an"%>
    <%=  f.file_field :icon, multiple: false, accept: "image/*"  %>
  </div>
</div>
  

  <div class="actions">
    <%= f.submit "Add category", class:'btn btn-outline-primary' %>
  </div>
    <%= render partial: "partials/errors", locals: { errors: @expense_category.errors } %>

 

<% end %>
</div>