<div class="container">
     <% content_for :navbar do %>
    <div id = "header">
        <%= 
          render partial:"partials/navbar", 
          locals:{array:[{@current_exp_category.name => '#'},{'  '=>''}], 
          back: user_path(@user)}%>
        </div>
    <% end %>
    <div>
        <h3 style="display: flex; 
            justify-content: space-around;
            font-size=3rem">
            <em class='em_style'>Total amount :</em> 
            <em class='em_style'><%=total_expense_amount(@expenses)%>$
            </em>
        </h3>
        <ul class="list_categories">
            <%@expenses.each do |expense|%>
                <li>
                    <%=link_to user_expense_category_expense_path(@user,@current_exp_category,expense) do%>
                    <%=render partial:"partials/expense_item",
                        locals: {expense:expense}%>
                        <%end%>
                </li>
            <%end%>
        </ul>
    </div>
    <div class='btn_container'>
        <%= 
        link_to 'New expense', 
        new_user_expense_category_expense_path(@user,@current_exp_category), 
        class: 'btn btn-outline-primary'%>
    </div>
</div>
<%= render partial: "partials/errors", locals: { errors: @current_exp_category.errors } %>
